{% extends "Insta/base.html" %}
{% block content %}
    {% for post in posts %}

        <div class="card mb-3" style="width: 40rem; background: inherit;margin-left: 200px;">
            <div class="card-title">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <a class="" style="color: #ffff;" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="" style="color: #ffff">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <div class="card-body">
            <h4><a class="" style="color: #ffff" href="{% url 'post-detail' post.id %}">{{ post.location }}</a></h4>
        </div>



        <a class="" href="{% url 'post-detail' post.id %}"><img class="card-img-bottom" src="{{ post.content.url }}"
                                                                alt=""></a>



        <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h1><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p style="color: #ffff;margin: 20px 0px 20px 20px;">{{ post.text|linebreaksbr }}</p>
                <a href="{% url 'post-detail' pk=post.pk %}"><i class="fa fa-wechat" style="font-size:48px;color:white;"></i> {{ post.comments.count }}  <i class='fas fa-heart' style='font-size:48px;color:white'></i></a>
            </div>
        <hr>
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    </div>
    {% endfor %}




    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    <style>
    a  {
  color: #ffff;
}
    </style>

{% endblock content %}